<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <queries>
        <!-- RetroArch variants -->
        <package android:name="com.retroarch" />
        <package android:name="com.retroarch.aarch64" />
        <package android:name="com.retroarch.ra32" />
        <!-- Arley4d Bypass -->
        <package android:name="com.arley4d.bypassarley4d" />
        <!-- Standalone Emulators -->
        <package android:name="org.ppsspp.ppsspp" />
        <package android:name="org.ppsspp.ppssppgold" />
        <package android:name="org.dolphinemu.dolphinemu" />
        <package android:name="org.dolphinemu.dolphinemu.mmjr" />
        <package android:name="com.github.stenzek.duckstation" />
        <package android:name="me.magnum.melonds" />
        <package android:name="xyz.aethersx2.android" />
        <package android:name="org.vita3k.emulator" />
        <package android:name="org.citra.citra_emu" />
        <package android:name="io.github.lime3ds.android" />
        <package android:name="com.drastic.drastic" />
        <package android:name="org.mupen64plusae.v3.fzurita" />
        <package android:name="io.recompiled.redream" />
        <package android:name="com.flycast.emulator" />
        <!-- General launcher query for App Drawer & Emulator discovery -->
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|navigation|uiMode"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
